/*
* cassie.css
* Copyright 2018 Cassie Peele
* http://www.opensource.org/licenses/mit-license.php
*/

/* General
–––––––––––––––––––––––––––––––––––––––––––––––––- */
body {
  background-color: #a1c5e9; }

/* Fake tables */
.table {
  display: table;
  width: 100%;
  border-collapse: collapse; }
.table-row {
  display: table-row; }
.table-cell, .table-head {
  display: table-cell;
  padding: 1rem;
  border: 0; }
.table-head {
  font-weight: bold;
  border-bottom: #222 1px solid; }
.table-head:first-child,
.table-cell:first-child {
  padding-left: 15px; }
.table-head:last-child,
.table-cell:last-child {
  padding-right: 0; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––- */
.clickable {
  cursor: pointer; }
.clickable:hover {
  background-color: #657a8d; }
a, a.table-row.clickable {
  color: #569bd2;
  text-decoration: none; }
a div.table-cell {
  color: #222; }
a:hover, a:active, a:hover .table-cell {
  color: #fff; }

/* Skeleton-style utilities
–––––––––––––––––––––––––––––––––––––––––––––––––- */
.u-centered {
  text-align: center; }
