body {
  margin: 1em;
  font-family: sans-serif;
  background-color: #e09999;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

#kiss-button, #work-button, #date-button, #gift-button {
  background-color: #99e0ad;
  outline: 2px solid #47935d;
  outline-offset: -2px;
  color: black;
  padding: 1.5em .5em;
  text-align: center;
  grid-column: auto / span 4;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#title-display, #kisses-display, #happiness-display, #money-display, #girlfriends-display, #love-display, #kisses-per-girlfriend-display, #kisses-per-second-display {
  background-color: #ffc8c8;
  outline: 2px solid #935656;
  outline-offset: -2px;
  color: black;
  padding: 1.5em .5em;
  text-align: center;
  grid-column: auto / span 4;
}

#title-display {
  grid-column: 1 / 13;
}

#kiss-button {
  grid-column: auto / span 8;
  font-size: 2.5em;
  padding: .5em;
}

#kisses-display {
  grid-column: auto / span 4;
}

.title-text, .button-text {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  padding-bottom: .25em;
}

.subtitle-text, .description-text {
  font-size: .85em;
  display: block;
}

a:link, a:visited, a:hover, a:active {
  color: #935656;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active {
  color: white;
}
