:root {
  --bg-low: #BD8600;
  --bg-mid: #E64F6F;
  --bg-high: #FFC638;
}

::selection {
  background-color: rgba(255, 255, 255, .2);
}

body {
  background-color: var(--bg-low);
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 1.25em;
  margin: 0;
}

canvas {
  box-shadow: 0 10px 40px 5px rgba(0, 0, 0, .5);
  background-color: var(--bg-high);
}

h1 {
  text-align: center;
  font-size: 2em;
}

#sprinkle-count {
  margin: 0 1em;
}
